@import "partials/include";


#load{

    width: 100%;
    height: 100%;
    /* background-color:white; */
    position: absolute;
    /* background:url('../images/loader1.gif') no-repeat center center rgba(0,0,0,0.25); */
}


html{
    width: 100%;
}

body{
    width: 100%;
    margin:auto;
    background-color: $body-color;
    overflow-x: hidden;

}

/*Slick Styling*/

#offer-container, #client-container{

    .slick-prev{
        left: 3px;
        z-index: 1000;
    }

    .slick-next{
        right: 23px;
        z-index: 1000;
    }

    .slick-prev:before, .slick-next:before{
        font-size: 40px;
        color: $gray;
    }
}

.slick-prev{
    left: 0;
}
.slick-next{
    right: 17px;
}

.slick-prev.slick-next{
    z-index: 1000;
}

.slick-prev:before, .slick-next:before{
    font-size: 40px;
    color: #afabab;
}




#fixed-icon{
    background-color: black;
    height: 35px;
    width: 35px;
    position: fixed;
    z-index: 10;
    margin-top: 200px;

    a
    {
        cursor: pointer;
        i{
            font-size: 40px;
            color: white;
        }
    }
}

.triangle-left {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(11%);
  -webkit-transform: translate(11%);
  -mos-transform: translate(11%);
  -ms-transform: translate(11%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-right:30px solid $white;
}

.triangle-right {
  width: 0;
  height: 0;
  top: 40%;
  position: absolute;
  transform: translate(-16%);
  -webkit-transform: translate(-16%);
  -mos-transform: translate(-16%);
  -ms-transform: translate(-16%);

  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-left: 30px solid $white;
}

.triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -mos-transform: translate(-50%);
  -ms-transform: translate(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-bottom: 30px solid $white;
  bottom: 0;
}

.triangle-down {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -mos-transform: translate(-50%);
  -ms-transform: translate(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-top: 30px solid $white;
}

.no-padding{
    padding: 0;
}

.upper-margin{
    margin-top: 100px;
}
/* Header */

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -mos-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
}
.navbar-inverse .navbar-nav>.open>a{
    background-color: white;
    color: black;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    box-shadow: 10px 0px 5px $gray;
    border-radius: 0px;
    height: 86px;
    background-color: $white;
    border: none;
    margin-bottom: 0;

    #myNavbar{
        padding: 18px 0;
        border-color: $white;

        ul{
            border-top: none;
            li{
                text-align: center;
                &:hover{

                    a{
                        color: black;
                    }
                    border-bottom: 1px solid $nav-hover;
                }

                a{
                    &:focus{
                        color:black;
                        background-color: white;
                    }
                }

            }
        }
    }

    #nav-button{
        background-color: $gray;
        margin: 20px;
        border-color: $gray;

    }
}

/* Header End */

/* Image Section Start */

#image-wrapper{

    margin-top: 86px;
     padding: 0;
    .pic-section
    {
        background: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/blog1.png);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }



    #section-logo{
            padding: 80px 0;
            img{
                margin: 0px 20px 20px 20px;
            }

            h3{
                color: $white;
                font-weight: 700;
            }
            h1{
              font-family: 'Playfair Display', serif;
              color: #ffffff;
              margin-top: 20px;
              font-size: 72px;
              font-weight: 900;
              font-style: italic;
              line-height: 1;
              text-align: center;
            }

        }
    }

    .butn
    {
        @include butn-style;
    }
/* Image Section End */

/* Written Section Start */

    #special{

            letter-spacing: 8px;
            font-weight: 700;
            word-spacing: 6px;
    }

    #written-section{

        p{

            @include p-tag-style;
            margin-top: 30px;
            font-size: 17px;
            font-weight: 600;

        }

    .offer{
        background-color: $white;
        margin: 10px 20px;
        width: 340px;
        align-content: center;
        display: inline-block;
        /* float: left; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img{
            margin-top: 20px;
            padding: 10px;
            width: 240px;
            height: 240px;
        }

        p{
            text-align: center;
            font-weight: 550;
            font-style: italic;
            font-size: 15px;
            margin: 5px 5px;
            padding: 0 25px;
            color: $gray;
            font-family: 'Playfair Display', serif;
        }

        h3{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            margin: 25px 5px;
            padding: 0 5px;
            font-family: serif;
        }

        h2{
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            margin: 25px 10px 0;
            padding: 0 5px;
            font-family: 'Playfair Display', serif;
        }

        .offer-butn
            {
              @include butn-style;
              width: 180px;
              margin: 30px 0;
            }
    }

    #offer-container{
        margin-top: 70px;
        align-content: center;
        padding:0;

    }
}

/* Written Section End */

/* New Product Section Start */

#new-product-container
{

    background: url(../images/parallax-01.jpg);
    width: 100%;
    height: 660px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #border-section
    {
      margin-top: 100px;
      width: 100%;
      height: 450px;
      border: 30px solid white;
      padding-bottom: 100px;

      h3
      {
        color: white;
        font-size: 18px;
        word-spacing: 5px;
        letter-spacing: 3px;
        font-weight: bolder;
        margin-top: 50px;
      }

      h2
      {
              font-family: 'Playfair Display', serif;
              color: white;
              font-size: 72px;
              letter-spacing: 5px;
              font-weight: 900;
              font-style: italic;
              line-height: 1;
              text-align: center;
      }
    }
}

/* New Product End */


/* Jewellery Nav Start */


#jewellery-nav {
  width: 100%;
  float: left;
  margin: 20px 0;

  ul {
    margin-top: 10px;
    align-content: center;

    li {
      padding: 12px;
      display: inline;
      margin: 0;
      a {
        color: $gray;
        font-weight: bold;
        text-decoration: none;

        &:hover{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
      }
      &:hover {
        color: black;
        border-bottom: 2px solid  $nav-hover;
      }
    }
    .active
    {
        border-bottom: 1px solid $nav-hover;
        a{
            color: black;
        }
    }
  }
}

.jewellery-nav-section {

    margin-top: 20px;
    box-shadow: 5px 5px 10px $gray;
    display: flex;
    display: -webkit-flex;
    display: -mos-flex;
    display: -ms-flex;
    background-color: $white;

}

.jewellery-nav-section-container {
  position: absolute;
  width: 100%;
  height: 500px;
}

.jewellery-nav-section-img {
  width: 100%;
  height: 100%;
 
  overflow: hidden;
  img {
  
    width: 100%;
    height: inherit;

  }
}

.jewellery-nav-section-info {
  background-color: white;
  height: 100%;
  padding: 50px 0;
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  display: -mos-flex;
  display: -ms-flex;
  flex-direction: column;
  align-items: center;

  h5 {
    margin: 0;
    color: #9999998a;
    font-weight: bold;
  }
  h1 {
    font-family: $play;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    line-height: 32px;
    text-align: center;
    padding-bottom: 10px;
  }
  p {
    padding: 10px 25px;
    font-size: 14px;
    color: #9999998a;
    font-weight: bold;
  }
}


.hide{
    display: none;
}



/* Jewellery Section End */

/* Item Section Start */


#item-section{

    /* padding: 0; */
    .col-md-6{
        padding: 0;
    }
    max-width: 1400px;

    .column{
        display: flex;
        display: -webkit-flex;
        display: -mos-flex;
        display: -ms-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -mos-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }
    #item-image{
        width: 50%;
        padding: 0;

        img{
            width:100%;
            height: 256px;
        }
    }

    #item-info{

        width: 50%;
        /* height: 260px; */
        background-color: $white;
    }

    #item-info-container{
        padding-top: 25px;
        text-align: justify;

        h4{
            font-family: $play;
            font-size: 20px;
            font-weight: bold;
        }

        #icons{
            margin-top: 15px;
            padding:10px 0;

            i{
                margin-right: 2px;
            }
        }

        a{
            font-family: $lato;
            color: $red;
            display: inline-block;
            font-weight: bold;
            font-size: 12px;

            &:hover{
                text-decoration: none;
            }
        }

        p {
          font-family: $lato;
          font-weight: bold;
          color: #8e8b8be0;
          float: left;
          width: 95%;
        }


    }


}

/* Item Section End */


/* Client Section Start */

    #client-container{
        margin-top: 70px;
        align-content: center;
        padding:0;
    }

    .client{
        background-color: $white;
        margin: 20px 20px;
        width: 340px;
        align-content: center;
        display: inline-block;
        /* float: left; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .client-img{

            margin-top: 20px;

            img{
                margin-top: 20px;
                padding: 10px;
                width: 120px;
                height: 120px;
            }
        }

        p{
            @include p-tag-style;
        }

        #designer{
            font-weight: 600;
            color: $designer-red;
            margin-bottom: 40px;
        }

        h3{
            font-weight: 300;
            font-size: 26px;
            font-family: $play;
        }
    }


/* Client Section End */



/* Partners Section Start */



    #partners-logo{

        padding:50px 10px;
        display: flex;
        display: -webkit-flex;
        display: -mos-flex;
        display: -ms-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -mos-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        align-items: center;

        img{
            margin: auto;
        }

    }



/* Partners Section End */


/* footer Start */

    #footer-container{
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
    }

    #footer{

        .col-md-4{
            margin-top: 40px;
        }

        .border{
            border-right: 1px solid black;
            border-left: 1px solid black;
        }

        #social-icon{

            padding-bottom: 50px;
            i{
                padding-right: 16px;
                color: black;

                a{
                    color: black;
                }
            }
        }

        h4{
            font-size: 13px;
            font-weight: bold;
        }

        p{
            @include p-tag-style;
        }

        h5{
            span{
                color: $designer-red;
            }
        }
    }

/* footer End */