/* Mixin for p <tag> */


@mixin p-tag-style {

	text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    margin: 5px;
    padding: 0 25px;
    color: $gray;
    font-family: $play, serif;
}

@mixin butn-style{

		font-weight: bold;
        border-width: 0.25px;
        width: 140px;
        height: 48px;
        color: $white;
        font-family: Lato;
        margin-top: 50px;
        border-style: solid;
        background-color: $nav-hover;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
        transition-duration: 0.8s;
        &:hover{
            background-color:$butn-hover;
            transition-duration: 0.5s;
        }
}


