
/* Font-color */
$body-color:#ebebe9;
$white:#ffffff;
$nav-hover:#ead2ac;
$logo-color:#6b6b6a;
$gray:#999;
$red:#e46060;
$butn-hover:#e4bb70;
$designer-red:#e84f4f;



/* Font Name   */

$play:'PlayfairDisplay';
$lato: 'Lato';