/* Mixin for p <tag> */
/* line 5, ../sass/style.scss */
html {
  width: 100%;
}

/* line 9, ../sass/style.scss */
body {
  width: 100%;
  margin: auto;
  background-color: #ebebe9;
  overflow-x: hidden;
}

/*Slick Styling*/
/* line 21, ../sass/style.scss */
#offer-container .slick-prev, #client-container .slick-prev {
  left: 3px;
  z-index: 1000;
}
/* line 26, ../sass/style.scss */
#offer-container .slick-next, #client-container .slick-next {
  right: 23px;
  z-index: 1000;
}
/* line 31, ../sass/style.scss */
#offer-container .slick-prev:before, #offer-container .slick-next:before, #client-container .slick-prev:before, #client-container .slick-next:before {
  font-size: 40px;
  color: #999;
}

/* line 37, ../sass/style.scss */
.slick-prev {
  left: 0;
}

/* line 40, ../sass/style.scss */
.slick-next {
  right: 17px;
}

/* line 44, ../sass/style.scss */
.slick-prev.slick-next {
  z-index: 1000;
}

/* line 48, ../sass/style.scss */
.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: #afabab;
}

/* line 56, ../sass/style.scss */
#fixed-icon {
  background-color: #333;
  height: 35px;
  width: 35px;
  position: fixed;
  z-index: 10;
  margin-top: 200px;
}
/* line 64, ../sass/style.scss */
#fixed-icon a {
  cursor: pointer;
}
/* line 67, ../sass/style.scss */
#fixed-icon a i {
  font-size: 40px;
  color: white;
}

/* line 74, ../sass/style.scss */
.triangle-left {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(11%);
  -webkit-transform: translate(11%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #ffffff;
}

/* line 88, ../sass/style.scss */
.triangle-right {
  width: 0;
  height: 0;
  top: 40%;
  position: absolute;
  transform: translate(-16%);
  -webkit-transform: translate(-16%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ffffff;
}

/* line 101, ../sass/style.scss */
.triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #ffffff;
  bottom: 0;
}

/* line 115, ../sass/style.scss */
.triangle-down {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff;
}

/* line 129, ../sass/style.scss */
.no-padding {
  padding: 0;
}

/* line 133, ../sass/style.scss */
.upper-margin {
  margin-top: 100px;
}

/* Header */
/* line 138, ../sass/style.scss */
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
}

/* line 145, ../sass/style.scss */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 10px 0px 5px grey;
  border-radius: 0px;
  height: 86px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
}
/* line 158, ../sass/style.scss */
#header #myNavbar {
  padding: 10px 0;
  border-color: #ffffff;
}
/* line 162, ../sass/style.scss */
#header #myNavbar ul {
  border-top: none;
}
/* line 164, ../sass/style.scss */
#header #myNavbar ul li {
  text-align: center;
}
/* line 166, ../sass/style.scss */
#header #myNavbar ul li:hover {
  border-bottom: 1px solid #ead2ac;
}
/* line 168, ../sass/style.scss */
#header #myNavbar ul li:hover a {
  color: black;
}
/* line 175, ../sass/style.scss */
#header #myNavbar ul li a:focus {
  color: black;
  background-color: white;
}
/* line 185, ../sass/style.scss */
#header #nav-button {
  background-color: #333;
  margin: 20px;
}

/* Header End */
/* Image Section Start */
/* line 196, ../sass/style.scss */
#image-wrapper {
  margin-top: 86px;
  padding: 0;
}
/* line 200, ../sass/style.scss */
#image-wrapper .pic-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog1.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 212, ../sass/style.scss */
#image-wrapper #section-logo {
  padding: 80px 0;
}
/* line 214, ../sass/style.scss */
#image-wrapper #section-logo img {
  margin: 0px 20px 20px 20px;
}
/* line 218, ../sass/style.scss */
#image-wrapper #section-logo h3 {
  color: #ffffff;
  font-weight: 700;
}
/* line 222, ../sass/style.scss */
#image-wrapper #section-logo h1 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  margin-top: 20px;
  font-size: 72px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

/* line 236, ../sass/style.scss */
.butn {
  font-weight: bold;
  border-width: 0.25px;
  border-color: #000000;
  width: 140px;
  height: 48px;
  color: #ffffff;
  font-family: Lato;
  margin-top: 50px;
  border-style: solid;
  background-color: #ead2ac;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition-duration: 0.8s;
}
/* line 252, ../sass/style.scss */
.butn:hover {
  background-color: #e4bb70;
  transition-duration: 0.5s;
}

/* Image Section End */
/* Written Section Start */
/* line 261, ../sass/style.scss */
#special {
  letter-spacing: 8px;
  font-weight: 700;
  word-spacing: 6px;
}

/* line 270, ../sass/style.scss */
#written-section p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
}
/* line 279, ../sass/style.scss */
#written-section .offer {
  background-color: #ffffff;
  margin: 10px 20px;
  width: 340px;
  align-content: center;
  display: inline-block;
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 288, ../sass/style.scss */
#written-section .offer img {
  margin-top: 20px;
  padding: 10px;
  width: 240px;
  height: 240px;
}
/* line 295, ../sass/style.scss */
#written-section .offer p {
  text-align: center;
  font-weight: 550;
  font-style: italic;
  font-size: 15px;
  margin: 5px 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 306, ../sass/style.scss */
#written-section .offer h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 25px 5px;
  padding: 0 5px;
  font-family: serif;
}
/* line 315, ../sass/style.scss */
#written-section .offer h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 25px 10px 0;
  padding: 0 5px;
  font-family: 'Playfair Display', serif;
}
/* line 324, ../sass/style.scss */
#written-section .offer .offer-butn {
  font-weight: bold;
  border-width: 0.25px;
  border-color: #000000;
  width: 180px;
  height: 48px;
  color: #ffffff;
  font-family: Lato;
  margin: 30px 0;
  border-style: solid;
  background-color: #ead2ac;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition-duration: 0.8s;
}
/* line 341, ../sass/style.scss */
#written-section .offer .offer-butn:hover {
  background-color: #e4bb70;
  transition-duration: 0.5s;
}
/* line 348, ../sass/style.scss */
#written-section #offer-container {
  margin-top: 70px;
  align-content: center;
  padding: 0;
}
/* line 353, ../sass/style.scss */
#written-section #offer-container a {
  color: #8e9398;
  float: left;
}

/* Written Section End */
/* New Product Section Start */
/* line 364, ../sass/style.scss */
#new-product-container {
  background: url(../images/parallax-01.jpg);
  width: 100%;
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 374, ../sass/style.scss */
#new-product-container #border-section {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  border: 30px solid white;
  padding-bottom: 100px;
}
/* line 382, ../sass/style.scss */
#new-product-container #border-section h3 {
  color: #ffffff;
  font-size: 18px;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: 50px;
}
/* line 392, ../sass/style.scss */
#new-product-container #border-section h1 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

/* New Product End */
/* Jewellery Nav Start */
/* line 412, ../sass/style.scss */
#jewellery-nav {
  width: 100%;
  float: left;
  margin: 20px 0;
}
/* line 417, ../sass/style.scss */
#jewellery-nav ul {
  margin-top: 10px;
  align-content: center;
}
/* line 421, ../sass/style.scss */
#jewellery-nav ul li {
  padding: 12px;
  display: inline;
  margin: 0;
}
/* line 425, ../sass/style.scss */
#jewellery-nav ul li a {
  color: #d9d9d9;
  font-weight: bold;
  text-decoration: none;
}
/* line 430, ../sass/style.scss */
#jewellery-nav ul li a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* line 436, ../sass/style.scss */
#jewellery-nav ul li:hover {
  color: black;
  border-bottom: 2px solid  #ead2ac;
}
/* line 441, ../sass/style.scss */
#jewellery-nav ul .active {
  border-bottom: 1px solid #ead2ac;
}
/* line 444, ../sass/style.scss */
#jewellery-nav ul .active a {
  color: black;
}

/* line 451, ../sass/style.scss */
.jewellery-nav-section {
  margin-top: 20px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  display: -webkit-flex;
  background-color: #ffffff;
}

/* line 461, ../sass/style.scss */
.jewellery-nav-section-container {
  position: absolute;
  width: 100%;
  height: 500px;
}

/* line 467, ../sass/style.scss */
.jewellery-nav-section-img {
  width: 100%;
}
/* line 469, ../sass/style.scss */
.jewellery-nav-section-img img {
  height: 100%;
  width: 100%;
}

/* line 475, ../sass/style.scss */
.jewellery-nav-section-info {
  background-color: white;
  height: 100%;
}
/* line 478, ../sass/style.scss */
.jewellery-nav-section-info h5 {
  margin: 0;
  color: #9999998a;
  padding-top: 80px;
  font-weight: bold;
}
/* line 484, ../sass/style.scss */
.jewellery-nav-section-info h1 {
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 493, ../sass/style.scss */
.jewellery-nav-section-info p {
  padding: 10px 25px;
  font-size: 14px;
  color: #9999998a;
  font-weight: bold;
}

/* line 502, ../sass/style.scss */
.hide {
  display: none;
}

/* Jewellery Section End */
/* Item Section Start */
/* line 513, ../sass/style.scss */
#item-section {
  /* padding: 0; */
  max-width: 1400px;
}
/* line 516, ../sass/style.scss */
#item-section .col-md-6 {
  padding: 0;
}
/* line 521, ../sass/style.scss */
#item-section .column {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
/* line 527, ../sass/style.scss */
#item-section #item-image {
  width: 50%;
  padding: 0;
}
/* line 531, ../sass/style.scss */
#item-section #item-image img {
  width: 100%;
  height: 256px;
}
/* line 537, ../sass/style.scss */
#item-section #item-info {
  width: 50%;
  /* height: 260px; */
  background-color: #ffffff;
}
/* line 544, ../sass/style.scss */
#item-section #item-info-container {
  padding-top: 25px;
  text-align: justify;
}
/* line 548, ../sass/style.scss */
#item-section #item-info-container h4 {
  font-family: 'PlayfairDisplay';
  font-size: 20px;
  font-weight: bold;
}
/* line 554, ../sass/style.scss */
#item-section #item-info-container #icons {
  margin-top: 15px;
  padding: 10px 0;
}
/* line 558, ../sass/style.scss */
#item-section #item-info-container #icons i {
  margin-right: 2px;
}
/* line 563, ../sass/style.scss */
#item-section #item-info-container a {
  font-family: Lato;
  color: #e46060;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}
/* line 570, ../sass/style.scss */
#item-section #item-info-container a:hover {
  text-decoration: none;
}
/* line 575, ../sass/style.scss */
#item-section #item-info-container p {
  font-family: Lato;
  font-weight: bold;
  color: #8e8b8be0;
  float: left;
  width: 95%;
}

/* Item Section End */
/* Client Section Start */
/* line 594, ../sass/style.scss */
#client-container {
  margin-top: 70px;
  align-content: center;
  padding: 0;
}

/* line 600, ../sass/style.scss */
.client {
  background-color: #ffffff;
  margin: 20px 20px;
  width: 340px;
  align-content: center;
  display: inline-block;
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 609, ../sass/style.scss */
.client .client-img {
  margin-top: 20px;
}
/* line 613, ../sass/style.scss */
.client .client-img img {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  height: 120px;
}
/* line 621, ../sass/style.scss */
.client p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 625, ../sass/style.scss */
.client #designer {
  font-weight: 600;
  color: #e84f4f;
  margin-bottom: 40px;
}
/* line 631, ../sass/style.scss */
.client h3 {
  font-weight: 300;
  font-size: 26px;
  font-family: "PlayfairDisplay";
}

/* Client Section End */
/* Partners Section Start */
/* line 647, ../sass/style.scss */
#partners-logo {
  padding: 50px 10px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
}

/* Partners Section End */
/* footer Start */
/* line 665, ../sass/style.scss */
#footer-container {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

/* line 675, ../sass/style.scss */
#footer .col-md-4 {
  margin-top: 40px;
}
/* line 679, ../sass/style.scss */
#footer .border {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
/* line 684, ../sass/style.scss */
#footer #social-icon {
  padding-bottom: 50px;
}
/* line 687, ../sass/style.scss */
#footer #social-icon i {
  padding-right: 16px;
  color: black;
}
/* line 691, ../sass/style.scss */
#footer #social-icon i a {
  color: black;
}
/* line 697, ../sass/style.scss */
#footer h4 {
  font-size: 13px;
  font-weight: bold;
}
/* line 702, ../sass/style.scss */
#footer p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 707, ../sass/style.scss */
#footer h5 span {
  color: #e84f4f;
}

/* footer End */
/* Media Query */
@media (min-width: 1400px) {
  /* line 723, ../sass/style.scss */
  #image-wrapper #item-image {
    width: 50%;
    height: 100%;
  }
  /* line 727, ../sass/style.scss */
  #image-wrapper #item-image img {
    height: 100%;
  }
  /* line 733, ../sass/style.scss */
  #image-wrapper #item-info {
    width: 50%;
    font-size: 1vw;
    background-color: white;
  }
  /* line 738, ../sass/style.scss */
  #image-wrapper #item-info h4 {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  /* line 750, ../sass/style.scss */
  #jewellery-container h5 {
    padding-top: 60px;
  }
  /* line 753, ../sass/style.scss */
  #jewellery-container h1 {
    font-size: 25px;
  }
}
@media (max-width: 1102px) {
  /* line 766, ../sass/style.scss */
  #header #myNavbar ul li {
    font-size: 13px;
  }
  /* line 768, ../sass/style.scss */
  #header #myNavbar ul li a {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (max-width: 992px) {
  /* line 782, ../sass/style.scss */
  #jewellery-container hr {
    margin: 5px auto;
  }
  /* line 785, ../sass/style.scss */
  #jewellery-container h5 {
    padding-top: 30px;
  }
  /* line 789, ../sass/style.scss */
  #jewellery-container h1 {
    font-size: 18px;
  }
  /* line 793, ../sass/style.scss */
  #jewellery-container p {
    padding: 5px 15px;
    font-size: 11px;
  }
  /* line 798, ../sass/style.scss */
  #jewellery-container .butn {
    margin-top: 9px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  /* line 808, ../sass/style.scss */
  #item-section {
    /* padding-right: 0; */
  }
  /* line 812, ../sass/style.scss */
  #item-section .column #item-image img {
    height: unset;
  }
}
@media (max-width: 990px) {
  /* line 824, ../sass/style.scss */
  #image-wrapper #item-image {
    height: 260px;
  }
  /* line 827, ../sass/style.scss */
  #image-wrapper #item-image img {
    height: 260px;
  }
  /* line 832, ../sass/style.scss */
  #image-wrapper #item-info {
    height: 260px;
  }
  /* line 836, ../sass/style.scss */
  #image-wrapper .row {
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  /* line 847, ../sass/style.scss */
  #jewellery-nav {
    display: none;
  }
}
@media (max-width: 790px) {
  /* line 857, ../sass/style.scss */
  .jewellery-nav-section-info h1 {
    font-size: 25px;
  }
  /* line 861, ../sass/style.scss */
  .jewellery-nav-section-info p {
    margin: 0;
    width: 100%;
  }

  /* line 867, ../sass/style.scss */
  .client {
    width: 350px;
  }
}
@media (max-width: 767px) {
  /* line 880, ../sass/style.scss */
  #jewellery-container .jewellery-nav-section-info h1 {
    margin-top: 0;
    padding-bottom: 0;
  }

  /* line 887, ../sass/style.scss */
  #myNavbar {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    float: right;
    background-color: #ffffff;
  }
  /* line 895, ../sass/style.scss */
  #myNavbar a {
    font-weight: bold;
    color: black;
  }

  /* line 902, ../sass/style.scss */
  .navbar-nav.navbar-center {
    position: relative;
  }

  /* line 908, ../sass/style.scss */
  #section-logo img {
    width: 300px;
    height: 150px;
  }

  /* line 916, ../sass/style.scss */
  #written-section .offer {
    width: 90%;
  }

  /* line 923, ../sass/style.scss */
  #new-product-container #border-section {
    border: 25px solid white;
  }
  /* line 928, ../sass/style.scss */
  #new-product-container #border-section h1 {
    font-size: 42px;
  }

  /* line 935, ../sass/style.scss */
  #image-wrapper #item-image {
    width: 70%;
  }
  /* line 939, ../sass/style.scss */
  #image-wrapper #item-info {
    width: 70%;
  }

  /* line 946, ../sass/style.scss */
  #partners-logo .col-xs-4 {
    width: 100%;
  }

  /* line 956, ../sass/style.scss */
  #header #myNavbar ul li a {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 966, ../sass/style.scss */
  #item-section #item-image {
    width: 100%;
  }
  /* line 969, ../sass/style.scss */
  #item-section #item-info {
    width: 100%;
  }
}
@media (max-width: 660px) {
  /* line 978, ../sass/style.scss */
  .jewellery-nav-section {
    display: inline-block;
  }

  /* line 982, ../sass/style.scss */
  .upper-margin {
    margin-top: 35px;
  }
}
@media (max-width: 415px) {
  /* line 991, ../sass/style.scss */
  #full-width {
    width: 100%;
  }

  /* line 995, ../sass/style.scss */
  .client {
    width: 100%;
    margin: 0 0 20px 0;
  }

  /* line 1000, ../sass/style.scss */
  .jewellery-nav-section {
    margin-left: auto;
    margin-right: auto;
    height: 619px;
  }

  /* line 1009, ../sass/style.scss */
  #image-wrapper .pic-section #section-logo img {
    width: 221px;
    height: 127px;
  }
  /* line 1015, ../sass/style.scss */
  #image-wrapper .pic-section #section-logo .container-fluid h1 {
    font-size: 60px;
  }

  /* line 1024, ../sass/style.scss */
  .jewellery-nav-section-info {
    width: 100%;
    height: 100%;
  }
  /* line 1029, ../sass/style.scss */
  .jewellery-nav-section-info h1 {
    font-size: 20px;
  }
  /* line 1033, ../sass/style.scss */
  .jewellery-nav-section-info p {
    font-size: 12px;
    margin: 0;
    width: 100%;
  }
  /* line 1039, ../sass/style.scss */
  .jewellery-nav-section-info button {
    margin-top: 25px;
  }

  /* line 1046, ../sass/style.scss */
  #new-product-container #border-section {
    border: 20px solid white;
  }
  /* line 1051, ../sass/style.scss */
  #new-product-container #border-section h1 {
    font-size: 38px;
  }

  /* line 1060, ../sass/style.scss */
  #written-section .offer h3 {
    margin: 20px 3px;
  }
  /* line 1063, ../sass/style.scss */
  #written-section .offer h2 {
    margin: 0 10px;
  }
  /* line 1067, ../sass/style.scss */
  #written-section .offer .offer-butn {
    margin: 15px 0;
  }
  /* line 1072, ../sass/style.scss */
  #written-section .offer-img img {
    padding: 0;
    width: 190px;
    height: 170px;
  }
}
@media (max-width: 380px) {
  /* line 1089, ../sass/style.scss */
  #new-product-container #border-section {
    border: 15px solid white;
    width: 100%;
    height: 410px;
  }
  /* line 1095, ../sass/style.scss */
  #new-product-container #border-section h1 {
    font-size: 36px;
  }

  /* line 1105, ../sass/style.scss */
  #image-wrapper #section-logo h1 {
    font-size: 60px;
  }

  /* line 1111, ../sass/style.scss */
  #border-wrapper {
    padding: 0;
  }

  /* line 1116, ../sass/style.scss */
  .jewellery-nav-section-img img {
    height: 50%;
  }

  /* line 1121, ../sass/style.scss */
  .jewellery-nav-section {
    height: 595px;
  }

  /* line 1125, ../sass/style.scss */
  .jewellery-nav-section-info {
    height: 85%;
  }
  /* line 1128, ../sass/style.scss */
  .jewellery-nav-section-info h5 {
    padding-top: 50px;
  }
}
