/* Mixin for p <tag> */
/* line 5, ../sass/style.scss */
html {
  width: 100%;
}

/* line 9, ../sass/style.scss */
body {
  width: 100%;
  margin: auto;
  background-color: #ebebe9;
  overflow-x: hidden;
}

/*Slick Styling*/
/* line 21, ../sass/style.scss */
#offer-container .slick-prev, #client-container .slick-prev {
  left: 3px;
  z-index: 1000;
}
/* line 26, ../sass/style.scss */
#offer-container .slick-next, #client-container .slick-next {
  right: 23px;
  z-index: 1000;
}
/* line 31, ../sass/style.scss */
#offer-container .slick-prev:before, #offer-container .slick-next:before, #client-container .slick-prev:before, #client-container .slick-next:before {
  font-size: 40px;
  color: #999;
}

/* line 37, ../sass/style.scss */
.slick-prev {
  left: 0;
}

/* line 40, ../sass/style.scss */
.slick-next {
  right: 17px;
}

/* line 44, ../sass/style.scss */
.slick-prev.slick-next {
  z-index: 1000;
}

/* line 48, ../sass/style.scss */
.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: #afabab;
}

/* line 56, ../sass/style.scss */
#fixed-icon {
  background-color: #333;
  height: 35px;
  width: 35px;
  position: fixed;
  z-index: 10;
  margin-top: 320px;
}
/* line 64, ../sass/style.scss */
#fixed-icon a {
  cursor: pointer;
}
/* line 67, ../sass/style.scss */
#fixed-icon a i {
  font-size: 40px;
  color: white;
}

/* line 74, ../sass/style.scss */
.triangle-left {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  margin-top: 100px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #ffffff;
}

/* line 86, ../sass/style.scss */
.triangle-right {
  width: 0;
  height: 0;
  margin-top: 100px;
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ffffff;
}

/* line 97, ../sass/style.scss */
.triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 40%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #ffffff;
  bottom: 0;
}

/* line 109, ../sass/style.scss */
.triangle-down {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  margin-left: 40%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff;
}

/* line 121, ../sass/style.scss */
.no-padding {
  padding: 0;
}

/* line 125, ../sass/style.scss */
.upper-margin {
  margin-top: 100px;
}

/* Header */
/* line 130, ../sass/style.scss */
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

/* line 136, ../sass/style.scss */
#header {
  border-radius: 0px;
  height: 86px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
}
/* line 143, ../sass/style.scss */
#header #myNavbar {
  padding: 10px 0;
  border-color: #ffffff;
}
/* line 149, ../sass/style.scss */
#header #myNavbar ul li:hover {
  border-bottom: 1px solid #ead2ac;
}
/* line 151, ../sass/style.scss */
#header #myNavbar ul li:hover a {
  color: black;
}
/* line 158, ../sass/style.scss */
#header #myNavbar ul li a:focus {
  color: black;
}
/* line 167, ../sass/style.scss */
#header #nav-button {
  background-color: #333;
  margin: 20px;
}

/* Header End */
/* Image Section Start */
/* line 178, ../sass/style.scss */
#image-wrapper {
  padding: 0;
}
/* line 181, ../sass/style.scss */
#image-wrapper .pic-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog1.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* line 194, ../sass/style.scss */
#image-wrapper #section-logo {
  padding: 80px 0;
}
/* line 196, ../sass/style.scss */
#image-wrapper #section-logo img {
  margin: 0px 20px 20px 20px;
}
/* line 200, ../sass/style.scss */
#image-wrapper #section-logo h3 {
  color: #ffffff;
  font-weight: 700;
}
/* line 204, ../sass/style.scss */
#image-wrapper #section-logo h1 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  margin-top: 20px;
  font-size: 72px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

/* line 218, ../sass/style.scss */
.butn {
  font-weight: bold;
  border-width: 0.25px;
  border-color: #000000;
  width: 140px;
  height: 48px;
  color: #ffffff;
  font-family: Lato;
  margin-top: 50px;
  border-style: solid;
  background-color: #ead2ac;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition-duration: 0.8s;
}
/* line 234, ../sass/style.scss */
.butn:hover {
  background-color: #e4bb70;
  transition-duration: 0.5s;
}

/* Image Section End */
/* Written Section Start */
/* line 243, ../sass/style.scss */
#special {
  letter-spacing: 8px;
  font-weight: 700;
  word-spacing: 6px;
}

/* line 252, ../sass/style.scss */
#written-section p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
}
/* line 261, ../sass/style.scss */
#written-section .offer {
  background-color: #ffffff;
  margin: 10px 20px;
  width: 340px;
  align-content: center;
  display: inline-block;
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 270, ../sass/style.scss */
#written-section .offer img {
  margin-top: 20px;
  padding: 10px;
  width: 240px;
  height: 240px;
}
/* line 277, ../sass/style.scss */
#written-section .offer p {
  text-align: center;
  font-weight: 550;
  font-style: italic;
  font-size: 15px;
  margin: 5px 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 288, ../sass/style.scss */
#written-section .offer h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 25px 5px;
  padding: 0 5px;
  font-family: serif;
}
/* line 297, ../sass/style.scss */
#written-section .offer h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 25px 10px 0;
  padding: 0 5px;
  font-family: 'Playfair Display', serif;
}
/* line 306, ../sass/style.scss */
#written-section .offer .offer-butn {
  font-weight: bold;
  border-width: 0.25px;
  border-color: #000000;
  width: 180px;
  height: 48px;
  color: #ffffff;
  font-family: Lato;
  margin: 30px 0;
  border-style: solid;
  background-color: #ead2ac;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition-duration: 0.8s;
}
/* line 323, ../sass/style.scss */
#written-section .offer .offer-butn:hover {
  background-color: #e4bb70;
  transition-duration: 0.5s;
}
/* line 330, ../sass/style.scss */
#written-section #offer-container {
  margin-top: 70px;
  align-content: center;
  padding: 0;
}
/* line 335, ../sass/style.scss */
#written-section #offer-container a {
  color: #8e9398;
  float: left;
}

/* Written Section End */
/* New Product Section Start */
/* line 346, ../sass/style.scss */
#new-product-container {
  background: url(../images/parallax-01.jpg);
  width: 100%;
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 356, ../sass/style.scss */
#new-product-container #border-section {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  border: 30px solid white;
  padding-bottom: 100px;
}
/* line 364, ../sass/style.scss */
#new-product-container #border-section h3 {
  color: #ffffff;
  font-size: 18px;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: 50px;
}
/* line 374, ../sass/style.scss */
#new-product-container #border-section h1 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

/* New Product End */
/* Jewellery Nav Start */
/* line 394, ../sass/style.scss */
#jewellery-nav {
  width: 100%;
  float: left;
  margin: 20px 0;
}
/* line 399, ../sass/style.scss */
#jewellery-nav ul {
  margin-top: 10px;
  align-content: center;
}
/* line 403, ../sass/style.scss */
#jewellery-nav ul li {
  padding: 12px;
  display: inline;
  margin: 0;
}
/* line 407, ../sass/style.scss */
#jewellery-nav ul li a {
  color: #d9d9d9;
  font-weight: bold;
  text-decoration: none;
}
/* line 412, ../sass/style.scss */
#jewellery-nav ul li a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* line 418, ../sass/style.scss */
#jewellery-nav ul li:hover {
  color: black;
  border-bottom: 2px solid  #ead2ac;
}
/* line 423, ../sass/style.scss */
#jewellery-nav ul .active {
  border-bottom: 1px solid #ead2ac;
}
/* line 426, ../sass/style.scss */
#jewellery-nav ul .active a {
  color: black;
}

/* line 433, ../sass/style.scss */
.jewellery-nav-section {
  margin-top: 20px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  background-color: #ffffff;
}

/* line 442, ../sass/style.scss */
.jewellery-nav-section-container {
  position: absolute;
  width: 100%;
  height: 500px;
}

/* line 448, ../sass/style.scss */
.jewellery-nav-section-img {
  width: 100%;
}
/* line 450, ../sass/style.scss */
.jewellery-nav-section-img img {
  height: 100%;
  width: 100%;
}

/* line 456, ../sass/style.scss */
.jewellery-nav-section-info {
  background-color: white;
  height: 100%;
}
/* line 459, ../sass/style.scss */
.jewellery-nav-section-info h5 {
  margin: 0;
  color: #9999998a;
  padding-top: 80px;
  font-weight: bold;
}
/* line 465, ../sass/style.scss */
.jewellery-nav-section-info h1 {
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 474, ../sass/style.scss */
.jewellery-nav-section-info p {
  padding: 10px 25px;
  font-size: 14px;
  color: #9999998a;
  font-weight: bold;
}

/* line 483, ../sass/style.scss */
.hide {
  display: none;
}

/* Jewellery Section End */
/* Item Section Start */
/* line 494, ../sass/style.scss */
#item-section {
  /* padding: 0; */
  max-width: 1400px;
}
/* line 497, ../sass/style.scss */
#item-section .col-md-6 {
  padding: 0;
}
/* line 501, ../sass/style.scss */
#item-section #item-image {
  width: 50%;
  padding: 0;
}
/* line 505, ../sass/style.scss */
#item-section #item-image img {
  width: 100%;
  height: 240px;
}
/* line 511, ../sass/style.scss */
#item-section #item-info {
  width: 50%;
  height: 240px;
  background-color: #ffffff;
}
/* line 518, ../sass/style.scss */
#item-section #item-info-container {
  padding-top: 25px;
  text-align: justify;
}
/* line 522, ../sass/style.scss */
#item-section #item-info-container h4 {
  font-family: 'PlayfairDisplay';
  font-size: 20px;
  font-weight: bold;
}
/* line 528, ../sass/style.scss */
#item-section #item-info-container #icons {
  margin-top: 15px;
  padding: 0;
}
/* line 532, ../sass/style.scss */
#item-section #item-info-container #icons i {
  margin-right: 2px;
}
/* line 537, ../sass/style.scss */
#item-section #item-info-container a {
  font-family: Lato;
  color: #e46060;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}
/* line 544, ../sass/style.scss */
#item-section #item-info-container a:hover {
  text-decoration: none;
}
/* line 549, ../sass/style.scss */
#item-section #item-info-container p {
  font-family: Lato;
  font-weight: bold;
  color: #8e8b8be0;
  float: left;
  width: 95%;
}

/* Item Section End */
/* Client Section Start */
/* line 568, ../sass/style.scss */
#client-container {
  margin-top: 70px;
  align-content: center;
  padding: 0;
}

/* line 574, ../sass/style.scss */
.client {
  background-color: #ffffff;
  margin: 20px 20px;
  width: 340px;
  align-content: center;
  display: inline-block;
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 583, ../sass/style.scss */
.client .client-img {
  margin-top: 20px;
}
/* line 587, ../sass/style.scss */
.client .client-img img {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  height: 120px;
}
/* line 595, ../sass/style.scss */
.client p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 599, ../sass/style.scss */
.client #designer {
  font-weight: 600;
  color: #e84f4f;
  margin-bottom: 40px;
}
/* line 605, ../sass/style.scss */
.client h3 {
  font-weight: 300;
  font-size: 26px;
  font-family: "PlayfairDisplay";
}

/* Client Section End */
/* Partners Section Start */
/* line 621, ../sass/style.scss */
#partners-logo {
  padding: 50px 10px;
}

/* Partners Section End */
/* footer Start */
/* line 634, ../sass/style.scss */
#footer-container {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

/* line 644, ../sass/style.scss */
#footer .col-md-4 {
  margin-top: 40px;
}
/* line 648, ../sass/style.scss */
#footer .border {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
/* line 653, ../sass/style.scss */
#footer #social-icon {
  padding-bottom: 50px;
}
/* line 656, ../sass/style.scss */
#footer #social-icon i {
  padding-right: 16px;
  color: black;
}
/* line 660, ../sass/style.scss */
#footer #social-icon i a {
  color: black;
}
/* line 666, ../sass/style.scss */
#footer h4 {
  font-size: 13px;
  font-weight: bold;
}
/* line 671, ../sass/style.scss */
#footer p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 676, ../sass/style.scss */
#footer h5 span {
  color: #e84f4f;
}

/* footer End */
/* Media Query */
@media (min-width: 1400px) {
  /* line 692, ../sass/style.scss */
  #image-wrapper #item-image {
    width: 50%;
    height: 100%;
  }
  /* line 696, ../sass/style.scss */
  #image-wrapper #item-image img {
    height: 100%;
  }
  /* line 702, ../sass/style.scss */
  #image-wrapper #item-info {
    width: 50%;
    font-size: 1vw;
    background-color: white;
  }
  /* line 707, ../sass/style.scss */
  #image-wrapper #item-info h4 {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  /* line 719, ../sass/style.scss */
  #jewellery-container h5 {
    padding-top: 60px;
  }
  /* line 722, ../sass/style.scss */
  #jewellery-container h1 {
    font-size: 25px;
  }
}
@media (max-width: 1102px) {
  /* line 735, ../sass/style.scss */
  #header #myNavbar ul li {
    font-size: 12px;
  }
  /* line 737, ../sass/style.scss */
  #header #myNavbar ul li a {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (max-width: 992px) {
  /* line 751, ../sass/style.scss */
  #jewellery-container hr {
    margin: 5px auto;
  }
  /* line 754, ../sass/style.scss */
  #jewellery-container h5 {
    padding-top: 30px;
  }
  /* line 758, ../sass/style.scss */
  #jewellery-container h1 {
    font-size: 18px;
  }
  /* line 762, ../sass/style.scss */
  #jewellery-container p {
    padding: 5px 15px;
    font-size: 10px;
  }
  /* line 767, ../sass/style.scss */
  #jewellery-container .butn {
    margin-top: 9px;
    margin-bottom: 20px;
  }

  /* line 774, ../sass/style.scss */
  #item-section {
    /* padding-right: 0; */
  }
}
@media (max-width: 990px) {
  /* line 783, ../sass/style.scss */
  #image-wrapper #item-image {
    height: 260px;
  }
  /* line 786, ../sass/style.scss */
  #image-wrapper #item-image img {
    height: 260px;
  }
  /* line 791, ../sass/style.scss */
  #image-wrapper #item-info {
    height: 260px;
  }
  /* line 795, ../sass/style.scss */
  #image-wrapper .row {
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  /* line 806, ../sass/style.scss */
  #jewellery-nav {
    display: none;
  }
}
@media (max-width: 790px) {
  /* line 816, ../sass/style.scss */
  .jewellery-nav-section-info h1 {
    font-size: 25px;
  }
  /* line 820, ../sass/style.scss */
  .jewellery-nav-section-info p {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 832, ../sass/style.scss */
  #myNavbar {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    float: right;
    background-color: #ffffff;
  }
  /* line 840, ../sass/style.scss */
  #myNavbar a {
    font-weight: bold;
    color: black;
  }

  /* line 847, ../sass/style.scss */
  .navbar-nav.navbar-center {
    position: relative;
  }

  /* line 853, ../sass/style.scss */
  #section-logo img {
    width: 300px;
    height: 150px;
  }

  /* line 861, ../sass/style.scss */
  #written-section .offer {
    width: 90%;
  }

  /* line 868, ../sass/style.scss */
  #new-product-container #border-section {
    border: 25px solid white;
  }
  /* line 873, ../sass/style.scss */
  #new-product-container #border-section h1 {
    font-size: 42px;
  }

  /* line 880, ../sass/style.scss */
  #image-wrapper #item-image {
    width: 70%;
  }
  /* line 884, ../sass/style.scss */
  #image-wrapper #item-info {
    width: 70%;
  }

  /* line 891, ../sass/style.scss */
  #partners-logo .col-xs-4 {
    width: 100%;
  }

  /* line 901, ../sass/style.scss */
  #header #myNavbar ul li a {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 911, ../sass/style.scss */
  #item-section #item-image {
    width: 100%;
  }
  /* line 914, ../sass/style.scss */
  #item-section #item-info {
    width: 100%;
  }
}
@media (max-width: 660px) {
  /* line 922, ../sass/style.scss */
  .jewellery-nav-section {
    display: inline-block;
  }

  /* line 926, ../sass/style.scss */
  .upper-margin {
    margin-top: 35px;
  }
}
@media (max-width: 415px) {
  /* line 935, ../sass/style.scss */
  #full-width {
    width: 100%;
  }

  /* line 939, ../sass/style.scss */
  .client {
    width: 100%;
    margin: 0 0 20px 0;
  }

  /* line 944, ../sass/style.scss */
  .jewellery-nav-section {
    margin-left: auto;
    margin-right: auto;
    height: 619px;
  }

  /* line 953, ../sass/style.scss */
  #image-wrapper .pic-section #section-logo img {
    width: 221px;
    height: 127px;
  }
  /* line 959, ../sass/style.scss */
  #image-wrapper .pic-section #section-logo .container-fluid h1 {
    font-size: 60px;
  }

  /* line 968, ../sass/style.scss */
  .jewellery-nav-section-info {
    width: 100%;
    height: 100%;
  }
  /* line 973, ../sass/style.scss */
  .jewellery-nav-section-info h1 {
    font-size: 20px;
  }
  /* line 977, ../sass/style.scss */
  .jewellery-nav-section-info p {
    font-size: 12px;
    margin: 0;
    width: 100%;
  }
  /* line 983, ../sass/style.scss */
  .jewellery-nav-section-info button {
    margin-top: 25px;
  }

  /* line 990, ../sass/style.scss */
  #new-product-container #border-section {
    border: 20px solid white;
  }
  /* line 995, ../sass/style.scss */
  #new-product-container #border-section h1 {
    font-size: 38px;
  }

  /* line 1004, ../sass/style.scss */
  #written-section .offer h3 {
    margin: 20px 3px;
  }
  /* line 1007, ../sass/style.scss */
  #written-section .offer h2 {
    margin: 0 10px;
  }
  /* line 1011, ../sass/style.scss */
  #written-section .offer .offer-butn {
    margin: 15px 0;
  }
  /* line 1016, ../sass/style.scss */
  #written-section .offer-img img {
    padding: 0;
    width: 190px;
    height: 170px;
  }
}
@media (max-width: 380px) {
  /* line 1032, ../sass/style.scss */
  #new-product-container #border-section {
    border: 15px solid white;
    width: 100%;
    height: 410px;
  }
  /* line 1038, ../sass/style.scss */
  #new-product-container #border-section h1 {
    font-size: 36px;
  }

  /* line 1048, ../sass/style.scss */
  #image-wrapper #section-logo h1 {
    font-size: 60px;
  }

  /* line 1054, ../sass/style.scss */
  #border-wrapper {
    padding: 0;
  }

  /* line 1059, ../sass/style.scss */
  .jewellery-nav-section-img img {
    height: 50%;
  }

  /* line 1064, ../sass/style.scss */
  .jewellery-nav-section {
    height: 595px;
  }

  /* line 1068, ../sass/style.scss */
  .jewellery-nav-section-info {
    height: 85%;
  }
  /* line 1071, ../sass/style.scss */
  .jewellery-nav-section-info h5 {
    padding-top: 50px;
  }
}
