/* Font-color */
/* Font Name   */
/* Mixin for p <tag> */
/* line 3, ../sass/style.scss */
html {
  width: 100%;
}

/* line 7, ../sass/style.scss */
body {
  width: 100%;
  margin: auto;
  background-color: #ebebe9;
  overflow-x: hidden;
}

/*Slick Styling*/
/* line 19, ../sass/style.scss */
#offer-container .slick-prev, #client-container .slick-prev {
  left: 3px;
  z-index: 1000;
}
/* line 24, ../sass/style.scss */
#offer-container .slick-next, #client-container .slick-next {
  right: 23px;
  z-index: 1000;
}
/* line 29, ../sass/style.scss */
#offer-container .slick-prev:before, #offer-container .slick-next:before, #client-container .slick-prev:before, #client-container .slick-next:before {
  font-size: 40px;
  color: #999;
}

/* line 35, ../sass/style.scss */
.slick-prev {
  left: 0;
}

/* line 38, ../sass/style.scss */
.slick-next {
  right: 17px;
}

/* line 42, ../sass/style.scss */
.slick-prev.slick-next {
  z-index: 1000;
}

/* line 46, ../sass/style.scss */
.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: #afabab;
}

/* line 54, ../sass/style.scss */
#fixed-icon {
  background-color: black;
  height: 35px;
  width: 35px;
  position: fixed;
  z-index: 10;
  margin-top: 200px;
}
/* line 62, ../sass/style.scss */
#fixed-icon a {
  cursor: pointer;
}
/* line 65, ../sass/style.scss */
#fixed-icon a i {
  font-size: 40px;
  color: white;
}

/* line 72, ../sass/style.scss */
.triangle-left {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(11%);
  -webkit-transform: translate(11%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #ffffff;
}

/* line 86, ../sass/style.scss */
.triangle-right {
  width: 0;
  height: 0;
  top: 40%;
  position: absolute;
  transform: translate(-16%);
  -webkit-transform: translate(-16%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ffffff;
}

/* line 99, ../sass/style.scss */
.triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #ffffff;
  bottom: 0;
}

/* line 113, ../sass/style.scss */
.triangle-down {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff;
}

/* line 127, ../sass/style.scss */
.no-padding {
  padding: 0;
}

/* line 131, ../sass/style.scss */
.upper-margin {
  margin-top: 100px;
}

/* Header */
/* line 136, ../sass/style.scss */
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
}

/* line 142, ../sass/style.scss */
.navbar-inverse .navbar-nav > .open > a {
  background-color: white;
  color: black;
}

/* line 147, ../sass/style.scss */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 10px 0px 5px #999;
  border-radius: 0px;
  height: 86px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
}
/* line 160, ../sass/style.scss */
#header #myNavbar {
  padding: 18px 0;
  border-color: #ffffff;
}
/* line 164, ../sass/style.scss */
#header #myNavbar ul {
  border-top: none;
}
/* line 166, ../sass/style.scss */
#header #myNavbar ul li {
  text-align: center;
}
/* line 168, ../sass/style.scss */
#header #myNavbar ul li:hover {
  border-bottom: 1px solid #ead2ac;
}
/* line 170, ../sass/style.scss */
#header #myNavbar ul li:hover a {
  color: black;
}
/* line 177, ../sass/style.scss */
#header #myNavbar ul li a:focus {
  color: black;
  background-color: white;
}
/* line 187, ../sass/style.scss */
#header #nav-button {
  background-color: #999;
  margin: 20px;
  border-color: #999;
}

/* Header End */
/* Image Section Start */
/* line 199, ../sass/style.scss */
#image-wrapper {
  margin-top: 86px;
  padding: 0;
}
/* line 203, ../sass/style.scss */
#image-wrapper .pic-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/blog1.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 215, ../sass/style.scss */
#image-wrapper #section-logo {
  padding: 80px 0;
}
/* line 217, ../sass/style.scss */
#image-wrapper #section-logo img {
  margin: 0px 20px 20px 20px;
}
/* line 221, ../sass/style.scss */
#image-wrapper #section-logo h3 {
  color: #ffffff;
  font-weight: 700;
}
/* line 225, ../sass/style.scss */
#image-wrapper #section-logo h1 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  margin-top: 20px;
  font-size: 72px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

/* line 239, ../sass/style.scss */
.butn {
  font-weight: bold;
  border-width: 0.25px;
  width: 140px;
  height: 48px;
  color: #ffffff;
  font-family: Lato;
  margin-top: 50px;
  border-style: solid;
  background-color: #ead2ac;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition-duration: 0.8s;
}
/* line 31, ../sass/partials/_mixins.scss */
.butn:hover {
  background-color: #e4bb70;
  transition-duration: 0.5s;
}

/* Image Section End */
/* Written Section Start */
/* line 247, ../sass/style.scss */
#special {
  letter-spacing: 8px;
  font-weight: 700;
  word-spacing: 6px;
}

/* line 256, ../sass/style.scss */
#written-section p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: "PlayfairDisplay", serif;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
}
/* line 265, ../sass/style.scss */
#written-section .offer {
  background-color: #ffffff;
  margin: 10px 20px;
  width: 340px;
  align-content: center;
  display: inline-block;
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 274, ../sass/style.scss */
#written-section .offer img {
  margin-top: 20px;
  padding: 10px;
  width: 240px;
  height: 240px;
}
/* line 281, ../sass/style.scss */
#written-section .offer p {
  text-align: center;
  font-weight: 550;
  font-style: italic;
  font-size: 15px;
  margin: 5px 5px;
  padding: 0 25px;
  color: #999;
  font-family: 'Playfair Display', serif;
}
/* line 292, ../sass/style.scss */
#written-section .offer h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 25px 5px;
  padding: 0 5px;
  font-family: serif;
}
/* line 301, ../sass/style.scss */
#written-section .offer h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 25px 10px 0;
  padding: 0 5px;
  font-family: 'Playfair Display', serif;
}
/* line 310, ../sass/style.scss */
#written-section .offer .offer-butn {
  font-weight: bold;
  border-width: 0.25px;
  width: 140px;
  height: 48px;
  color: #ffffff;
  font-family: Lato;
  margin-top: 50px;
  border-style: solid;
  background-color: #ead2ac;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition-duration: 0.8s;
  width: 180px;
  margin: 30px 0;
}
/* line 31, ../sass/partials/_mixins.scss */
#written-section .offer .offer-butn:hover {
  background-color: #e4bb70;
  transition-duration: 0.5s;
}
/* line 318, ../sass/style.scss */
#written-section #offer-container {
  margin-top: 70px;
  align-content: center;
  padding: 0;
}

/* Written Section End */
/* New Product Section Start */
/* line 330, ../sass/style.scss */
#new-product-container {
  background: url(../images/parallax-01.jpg);
  width: 100%;
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 340, ../sass/style.scss */
#new-product-container #border-section {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  border: 30px solid white;
  padding-bottom: 100px;
}
/* line 348, ../sass/style.scss */
#new-product-container #border-section h3 {
  color: white;
  font-size: 18px;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: 50px;
}
/* line 358, ../sass/style.scss */
#new-product-container #border-section h2 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-align: center;
}

/* New Product End */
/* Jewellery Nav Start */
/* line 378, ../sass/style.scss */
#jewellery-nav {
  width: 100%;
  float: left;
  margin: 20px 0;
}
/* line 383, ../sass/style.scss */
#jewellery-nav ul {
  margin-top: 10px;
  align-content: center;
}
/* line 387, ../sass/style.scss */
#jewellery-nav ul li {
  padding: 12px;
  display: inline;
  margin: 0;
}
/* line 391, ../sass/style.scss */
#jewellery-nav ul li a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}
/* line 396, ../sass/style.scss */
#jewellery-nav ul li a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* line 402, ../sass/style.scss */
#jewellery-nav ul li:hover {
  color: black;
  border-bottom: 2px solid #ead2ac;
}
/* line 407, ../sass/style.scss */
#jewellery-nav ul .active {
  border-bottom: 1px solid #ead2ac;
}
/* line 410, ../sass/style.scss */
#jewellery-nav ul .active a {
  color: black;
}

/* line 417, ../sass/style.scss */
.jewellery-nav-section {
  margin-top: 20px;
  box-shadow: 5px 5px 10px #999;
  display: flex;
  display: -webkit-flex;
  background-color: #ffffff;
}

/* line 427, ../sass/style.scss */
.jewellery-nav-section-container {
  position: absolute;
  width: 100%;
  height: 500px;
}

/* line 433, ../sass/style.scss */
.jewellery-nav-section-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 438, ../sass/style.scss */
.jewellery-nav-section-img img {
  width: 100%;
  height: inherit;
}

/* line 446, ../sass/style.scss */
.jewellery-nav-section-info {
  background-color: white;
  height: 100%;
  padding: 50px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 455, ../sass/style.scss */
.jewellery-nav-section-info h5 {
  margin: 0;
  color: #9999998a;
  font-weight: bold;
}
/* line 460, ../sass/style.scss */
.jewellery-nav-section-info h1 {
  font-family: "PlayfairDisplay";
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 469, ../sass/style.scss */
.jewellery-nav-section-info p {
  padding: 10px 25px;
  font-size: 14px;
  color: #9999998a;
  font-weight: bold;
}

/* line 478, ../sass/style.scss */
.hide {
  display: none;
}

/* Jewellery Section End */
/* Item Section Start */
/* line 489, ../sass/style.scss */
#item-section {
  /* padding: 0; */
  max-width: 1400px;
}
/* line 492, ../sass/style.scss */
#item-section .col-md-6 {
  padding: 0;
}
/* line 497, ../sass/style.scss */
#item-section .column {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
/* line 503, ../sass/style.scss */
#item-section #item-image {
  width: 50%;
  padding: 0;
}
/* line 507, ../sass/style.scss */
#item-section #item-image img {
  width: 100%;
  height: 256px;
}
/* line 513, ../sass/style.scss */
#item-section #item-info {
  width: 50%;
  /* height: 260px; */
  background-color: #ffffff;
}
/* line 520, ../sass/style.scss */
#item-section #item-info-container {
  padding-top: 25px;
  text-align: justify;
}
/* line 524, ../sass/style.scss */
#item-section #item-info-container h4 {
  font-family: "PlayfairDisplay";
  font-size: 20px;
  font-weight: bold;
}
/* line 530, ../sass/style.scss */
#item-section #item-info-container #icons {
  margin-top: 15px;
  padding: 10px 0;
}
/* line 534, ../sass/style.scss */
#item-section #item-info-container #icons i {
  margin-right: 2px;
}
/* line 539, ../sass/style.scss */
#item-section #item-info-container a {
  font-family: "Lato";
  color: #e46060;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}
/* line 546, ../sass/style.scss */
#item-section #item-info-container a:hover {
  text-decoration: none;
}
/* line 551, ../sass/style.scss */
#item-section #item-info-container p {
  font-family: "Lato";
  font-weight: bold;
  color: #8e8b8be0;
  float: left;
  width: 95%;
}

/* Item Section End */
/* Client Section Start */
/* line 570, ../sass/style.scss */
#client-container {
  margin-top: 70px;
  align-content: center;
  padding: 0;
}

/* line 576, ../sass/style.scss */
.client {
  background-color: #ffffff;
  margin: 20px 20px;
  width: 340px;
  align-content: center;
  display: inline-block;
  /* float: left; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 585, ../sass/style.scss */
.client .client-img {
  margin-top: 20px;
}
/* line 589, ../sass/style.scss */
.client .client-img img {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  height: 120px;
}
/* line 597, ../sass/style.scss */
.client p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: "PlayfairDisplay", serif;
}
/* line 601, ../sass/style.scss */
.client #designer {
  font-weight: 600;
  color: #e84f4f;
  margin-bottom: 40px;
}
/* line 607, ../sass/style.scss */
.client h3 {
  font-weight: 300;
  font-size: 26px;
  font-family: "PlayfairDisplay";
}

/* Client Section End */
/* Partners Section Start */
/* line 623, ../sass/style.scss */
#partners-logo {
  padding: 50px 10px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
}
/* line 632, ../sass/style.scss */
#partners-logo img {
  margin: auto;
}

/* Partners Section End */
/* footer Start */
/* line 645, ../sass/style.scss */
#footer-container {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

/* line 655, ../sass/style.scss */
#footer .col-md-4 {
  margin-top: 40px;
}
/* line 659, ../sass/style.scss */
#footer .border {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
/* line 664, ../sass/style.scss */
#footer #social-icon {
  padding-bottom: 50px;
}
/* line 667, ../sass/style.scss */
#footer #social-icon i {
  padding-right: 16px;
  color: black;
}
/* line 671, ../sass/style.scss */
#footer #social-icon i a {
  color: black;
}
/* line 677, ../sass/style.scss */
#footer h4 {
  font-size: 13px;
  font-weight: bold;
}
/* line 682, ../sass/style.scss */
#footer p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  margin: 5px;
  padding: 0 25px;
  color: #999;
  font-family: "PlayfairDisplay", serif;
}
/* line 687, ../sass/style.scss */
#footer h5 span {
  color: #e84f4f;
}

/* footer End */
/* Media Query */
@media screen and (max-width: 1200px) {
  /* line 9, ../sass/partials/_responsive.scss */
  #jewellery-container h1 {
    font-size: 25px;
  }

  /* line 17, ../sass/partials/_responsive.scss */
  #header #myNavbar ul li {
    font-size: 15px;
  }
  /* line 19, ../sass/partials/_responsive.scss */
  #header #myNavbar ul li a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 991px) {
  /* line 38, ../sass/partials/_responsive.scss */
  #header #myNavbar ul li {
    font-size: 13px;
  }
  /* line 40, ../sass/partials/_responsive.scss */
  #header #myNavbar ul li a {
    padding-left: 3px;
    padding-right: 3px;
  }

  /* line 51, ../sass/partials/_responsive.scss */
  #jewellery-container hr {
    margin: 5px auto;
  }
  /* line 56, ../sass/partials/_responsive.scss */
  #jewellery-container h1 {
    font-size: 18px;
  }
  /* line 60, ../sass/partials/_responsive.scss */
  #jewellery-container p {
    padding: 5px 15px;
    font-size: 11px;
  }
  /* line 65, ../sass/partials/_responsive.scss */
  #jewellery-container .butn {
    margin-top: 9px;
    margin-bottom: 20px;
  }

  /* line 71, ../sass/partials/_responsive.scss */
  #item-section {
    /* padding-right: 0; */
  }
  /* line 75, ../sass/partials/_responsive.scss */
  #item-section .column #item-image img {
    height: unset;
  }

  /* line 83, ../sass/partials/_responsive.scss */
  #image-wrapper #item-image {
    height: 260px;
  }
  /* line 86, ../sass/partials/_responsive.scss */
  #image-wrapper #item-image img {
    height: 260px;
  }
  /* line 91, ../sass/partials/_responsive.scss */
  #image-wrapper #item-info {
    height: 260px;
  }
  /* line 95, ../sass/partials/_responsive.scss */
  #image-wrapper .row {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 105, ../sass/partials/_responsive.scss */
  #jewellery-nav {
    display: none;
  }

  /* line 109, ../sass/partials/_responsive.scss */
  .client {
    width: 350px;
  }

  /* line 117, ../sass/partials/_responsive.scss */
  #jewellery-container .jewellery-nav-section-img img {
    width: 100%;
  }
  /* line 122, ../sass/partials/_responsive.scss */
  #jewellery-container .jewellery-nav-section-info {
    padding: 25px 5px;
  }
  /* line 126, ../sass/partials/_responsive.scss */
  #jewellery-container .jewellery-nav-section-info h1 {
    margin-top: 0;
    padding-bottom: 0;
    font-size: 23px;
  }
  /* line 132, ../sass/partials/_responsive.scss */
  #jewellery-container .jewellery-nav-section-info p {
    padding: 5px 5px;
    font-size: 9px;
  }
  /* line 138, ../sass/partials/_responsive.scss */
  #jewellery-container .butn {
    margin-bottom: 0;
  }

  /* line 143, ../sass/partials/_responsive.scss */
  #myNavbar {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    float: right;
    background-color: #ffffff;
  }
  /* line 151, ../sass/partials/_responsive.scss */
  #myNavbar a {
    font-weight: bold;
    color: black;
  }

  /* line 158, ../sass/partials/_responsive.scss */
  .navbar-nav.navbar-center {
    position: relative;
  }

  /* line 164, ../sass/partials/_responsive.scss */
  #section-logo img {
    width: 300px;
    height: 150px;
  }

  /* line 172, ../sass/partials/_responsive.scss */
  #written-section .offer {
    width: 90%;
  }

  /* line 179, ../sass/partials/_responsive.scss */
  #new-product-container #border-section {
    border: 20px solid white;
  }
  /* line 182, ../sass/partials/_responsive.scss */
  #new-product-container #border-section h2 {
    font-size: 40px;
  }

  /* line 193, ../sass/partials/_responsive.scss */
  #image-wrapper #item-image {
    width: 70%;
  }
  /* line 197, ../sass/partials/_responsive.scss */
  #image-wrapper #item-info {
    width: 70%;
  }

  /* line 204, ../sass/partials/_responsive.scss */
  #partners-logo .col-xs-4 {
    width: 100%;
  }

  /* line 214, ../sass/partials/_responsive.scss */
  #header #myNavbar ul li a {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 224, ../sass/partials/_responsive.scss */
  #item-section #item-image {
    width: 100%;
  }
  /* line 227, ../sass/partials/_responsive.scss */
  #item-section #item-info {
    width: 100%;
  }

  /* line 233, ../sass/partials/_responsive.scss */
  .upper-margin {
    margin-top: 35px;
  }
}
@media screen and (max-width: 480px) {
  /* line 244, ../sass/partials/_responsive.scss */
  #jewellery-container #slider1, #jewellery-container #slider2, #jewellery-container #slider3 {
    margin-top: 20px;
  }

  /* line 249, ../sass/partials/_responsive.scss */
  #full-width {
    width: 100%;
  }

  /* line 253, ../sass/partials/_responsive.scss */
  .client {
    width: 100%;
    margin: 0 0 20px 0;
  }

  /* line 258, ../sass/partials/_responsive.scss */
  .jewellery-nav-section {
    margin-left: auto;
    margin-right: auto;
    display: unset;
  }
  /* line 264, ../sass/partials/_responsive.scss */
  .jewellery-nav-section .jewellery-nav-section-img {
    position: unset;
    display: unset;
  }

  /* line 275, ../sass/partials/_responsive.scss */
  #image-wrapper .pic-section #section-logo img {
    width: 221px;
    height: 127px;
  }
  /* line 285, ../sass/partials/_responsive.scss */
  #image-wrapper .pic-section #section-logo .container-fluid h1 {
    font-size: 50px;
  }

  /* line 294, ../sass/partials/_responsive.scss */
  .jewellery-nav-section-info {
    width: 100%;
    height: 100%;
  }
  /* line 299, ../sass/partials/_responsive.scss */
  .jewellery-nav-section-info h1 {
    font-size: 20px;
  }
  /* line 303, ../sass/partials/_responsive.scss */
  .jewellery-nav-section-info p {
    font-size: 12px;
    margin: 0;
    width: 100%;
  }
  /* line 309, ../sass/partials/_responsive.scss */
  .jewellery-nav-section-info button {
    margin-top: 25px;
  }

  /* line 316, ../sass/partials/_responsive.scss */
  #new-product-container #border-section {
    border: 20px solid white;
  }
  /* line 321, ../sass/partials/_responsive.scss */
  #new-product-container #border-section h1 {
    font-size: 38px;
  }

  /* line 330, ../sass/partials/_responsive.scss */
  #written-section .offer h3 {
    margin: 20px 3px;
  }
  /* line 333, ../sass/partials/_responsive.scss */
  #written-section .offer h2 {
    margin: 0 10px;
  }
  /* line 337, ../sass/partials/_responsive.scss */
  #written-section .offer .offer-butn {
    margin: 15px 0;
  }
  /* line 342, ../sass/partials/_responsive.scss */
  #written-section .offer-img img {
    padding: 0;
    width: 190px;
    height: 170px;
  }

  /* line 356, ../sass/partials/_responsive.scss */
  #image-wrapper #section-logo h1 {
    font-size: 60px;
  }

  /* line 362, ../sass/partials/_responsive.scss */
  #border-wrapper {
    padding: 0;
  }
}
